kicadLibs/kicad-libraries-esp/
Notebooks/
kicadLibs/kicad-libraries-esp
oldSystem/initialSystem/initialSystem-backups

upgradePlan/circuit_V0_1/fp-info-cache
upgradePlan/circuit_V0_1/circuit_V0_1-backups/
esp/ESP32_Body/include/WifiDefinitions.h
