kicadLibs/kicad-libraries-esp/
Notebooks/
kicadLibs/kicad-libraries-esp
oldSystem/initialSystem/initialSystem-backups

upgradePlan/circuit_V0_1/fp-info-cache
upgradePlan/circuit_V0_1/circuit_V0_1-backups/
esp/ESP32_Body/include/WifiDefinitions.h
upgradePlan/circuit_V0_1/~*
upgradePlan/circuit/circuit-backups/
upgradePlan/circuit/fp-info-cache
kicadLibs/Connector_AMASS.pretty.7z
kicadLibs/Connector_AMASS.pretty/AMASS_MR30PW-FB_1x03_P3.50mm_Horizontal.kicad_mod
kicadLibs/Connector_AMASS.pretty/AMASS_MR30PW-M_1x03_P3.50mm_Horizontal.kicad_mod
kicadLibs/Connector_AMASS.pretty/AMASS_XT30PW-F_1x02_P2.50mm_Horizontal.kicad_mod
kicadLibs/Connector_AMASS.pretty/AMASS_XT30PW-M_1x02_P2.50mm_Horizontal.kicad_mod
kicadLibs/Connector_AMASS.pretty/AMASS_XT30U-F_1x02_P5.0mm_Vertical.kicad_mod
kicadLibs/Connector_AMASS.pretty/AMASS_XT30U-M_1x02_P5.0mm_Vertical.kicad_mod
kicadLibs/Connector_AMASS.pretty/AMASS_XT30UPB-F_1x02_P5.0mm_Vertical.kicad_mod
kicadLibs/Connector_AMASS.pretty/AMASS_XT30UPB-M_1x02_P5.0mm_Vertical.kicad_mod
kicadLibs/Connector_AMASS.pretty/AMASS_XT60-F_1x02_P7.20mm_Vertical.kicad_mod
kicadLibs/Connector_AMASS.pretty/AMASS_XT60-M_1x02_P7.20mm_Vertical.kicad_mod
